# To use this file, run the following command:
#       pip install -r requirements.txt
# If there are any required dependencies not listed here, please add them

pandas
sqlescapy
logging
python-dotenv
pyodbc