# To use this file, run the following command:
#       pip install -r requirements.txt
# If there are any required dependencies not listed here, please add them

logging
pandas
sqlescapy
pyodbc
python-dotenv
unittest #Should be built-in to Python
pytest-playwright